In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("data/fatalities_isr_pse_conflict_2000_to_2023.csv")
df.head()

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes
0,'Abd a-Rahman Suleiman Muhammad Abu Daghash,2023-09-24,32.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while standing ...
1,Usayed Farhan Muhammad 'Ali Abu 'Ali,2023-09-24,21.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while trying to...
2,'Abdallah 'Imad Sa'ed Abu Hassan,2023-09-22,16.0,Palestinian,Kfar Dan,Jenin,West Bank,2023-09-22,M,NaN,al-Yamun,Jenin,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while firing at them ...
3,Durgham Muhammad Yihya al-Akhras,2023-09-20,19.0,Palestinian,'Aqbat Jaber R.C.,Jericho,West Bank,2023-09-20,M,NaN,'Aqbat Jaber R.C.,Jericho,gunfire,live ammunition,Israeli security forces,Shot in the head by Israeli forces while throw...
4,Raafat 'Omar Ahmad Khamaisah,2023-09-19,15.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin,Jenin,gunfire,live ammunition,Israeli security forces,Wounded by soldiers’ gunfire after running awa...

In [5]:
df.describe()

                age
count  10995.000000
mean      26.745703
std       13.780548
min        1.000000
25%       19.000000
50%       23.000000
75%       31.000000
max      112.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11124 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11124 non-null  object
 1   date_of_event                 11124 non-null  object
 2   age                           10995 non-null  float64
 3   citizenship                   11124 non-null  object
 4   event_location                11124 non-null  object
 5   event_location_district       11124 non-null  object
 6   event_location_region         11124 non-null  object
 7   date_of_death                 11124 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  9694 non-null   object
 10  place_of_residence            11056 non-null  object
 11  place_of_residence_district   11056 non-null  object
 12  type_of_injury                10833 non-null  object
 13  ammunition                    5871 non-null   object
 14  killed_by                     11124 non-null  object
 15  notes                         10844 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [43]:
df.columns

Index(['name', 'date_of_event', 'age', 'citizenship', 'event_location',
       'event_location_district', 'event_location_region', 'date_of_death',
       'gender', 'took_part_in_the_hostilities', 'place_of_residence',
       'place_of_residence_district', 'type_of_injury', 'ammunition',
       'killed_by', 'notes', 'year_of_event', 'month_name', 'day_name'],
      dtype='object')

In [10]:
df["ammunition"].value_counts()

ammunition
missile                        2877
live ammunition                1514
shell                           675
explosive belt                  326
bomb                            249
mortar fire                      51
knife                            37
flechette shells                 22
rubber-coated metal bullets      19
0.22-caliber bullets             16
phosphorus shell                 16
Qassam rocket                    15
car bomb                         15
teargas canister                 13
rocket                           12
grad rocket                       7
sponge rounds                     2
grenade                           2
flare bomb                        1
stun grenade                      1
rock                              1
Name: count, dtype: int64

In [11]:
df.type_of_injury.value_counts()

type_of_injury
gunfire                         9849
explosion                        555
shelling                         311
stabbing                          48
house demolition                  25
hit by a vehicle                  18
beating                            9
stones throwing                    6
being bludgeoned with an axe       4
fire                               4
physically assaulted               2
physical assault                   1
Strangulation                      1
Name: count, dtype: int64

In [24]:
df["type_of_injury"][df.ammunition.isna()].value_counts()

type_of_injury
gunfire                         4541
shelling                         298
explosion                         47
house demolition                  23
hit by a vehicle                  18
stabbing                          10
beating                            9
stones throwing                    6
being bludgeoned with an axe       4
fire                               4
physical assault                   1
physically assaulted               1
Strangulation                      1
Name: count, dtype: int64

In [30]:
df[df.type_of_injury.isna()]

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes
1557,Alon Govberg,2015-10-13,51.0,Israeli,East Jerusalem,East Jerusalem,West Bank,2015-10-13,M,NaN,Jerusalem,Israel,NaN,Unknown,Palestinian civilians,Killed by two Palestinians who stabbed and fir...
1559,Richard Lakin,2015-10-13,76.0,Israeli,East Jerusalem,East Jerusalem,West Bank,2015-10-27,M,NaN,Jerusalem,Israel,NaN,Unknown,Palestinian civilians,Mortally wounded by two Palestinians who stabb...
1563,Haviv Haim,2015-10-13,78.0,Israeli,East Jerusalem,East Jerusalem,West Bank,2015-10-13,M,NaN,Jerusalem,Israel,NaN,Unknown,Palestinian civilians,Killed by two Palestinians who stabbed and fir...
1629,Haim Yehiel Rotman,2014-11-18,55.0,Israeli,Jerusalem,Israel,Israel,2015-10-24,M,NaN,Jerusalem,Israel,NaN,Unknown,Palestinian civilians,Fatally wounded by gunfire and stab wounds inf...
1630,Avraham Shmuel Goldberg,2014-11-18,68.0,Israeli,Jerusalem,Israel,Israel,2014-11-18,M,NaN,Jerusalem,Israel,NaN,Unknown,Palestinian civilians,Killed by gunfire and stab wounds inflicted by...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10494,Ghassan Salem,2002-03-07,36.0,Palestinian,Tulkarm,Tulkarm,West Bank,2002-03-09,M,No,Tulkarm,Tulkarm,NaN,Unknown,Israeli security forces,NaN
10502,Bassem Darsiyeh,2002-03-07,40.0,Palestinian,Tulkarm,Tulkarm,West Bank,2002-03-09,M,No,Tulkarm,Tulkarm,NaN,Unknown,Israeli security forces,NaN
10504,Heijar Persh,2002-03-07,70.0,Palestinian,Tulkarm,Tulkarm,West Bank,2002-03-09,F,No,Tulkarm,Tulkarm,NaN,Unknown,Israeli security forces,NaN
10505,Khaled Harun,2002-03-07,27.0,Palestinian,Tulkarm,Tulkarm,West Bank,2002-03-09,M,No,Tulkarm,Tulkarm,NaN,Unknown,Israeli security forces,NaN
10506,M'azuz al-Jarushi,2002-03-07,30.0,Palestinian,Tulkarm,Tulkarm,West Bank,2002-03-09,M,No,Tulkarm,Tulkarm,NaN,Unknown,Israeli security forces,NaN

In [25]:
import numpy as np

def fill_ammunition(row):
    if pd.isna(row['ammunition']):
        if row['type_of_injury'] == 'gunfire':
            return 'live ammunition'
        elif row['type_of_injury'] == 'shelling':
            return 'shell'
        elif row['type_of_injury'] == 'explosion':
            return 'bomb'
        elif row['type_of_injury'] == 'stabbing':
            return 'knife'
        elif row['type_of_injury'] == 'hit by a vehicle':
            return 'vehicle'  
        elif row['type_of_injury'] in ['beating', 'physical assault', 'physically assaulted', 'being bludgeoned with an axe', 'Strangulation']:
            return 'Unknown'  
        else:
            return 'Unknown'
    else:
        return row['ammunition']

df['ammunition'] = df.apply(fill_ammunition, axis=1)

In [31]:
import pandas as pd


df['age'] = df['age'].fillna(df['age'].median())


categorical_cols = [
    'gender',
    'took_part_in_the_hostilities',
    'place_of_residence',
    'place_of_residence_district',
    'type_of_injury'
]

for col in categorical_cols:
    df[col] = df[col].fillna("Unknown")


df['notes'] = df['notes'].fillna("No notes")


print(df.isna().sum())

name                            0
date_of_event                   0
age                             0
citizenship                     0
event_location                  0
event_location_district         0
event_location_region           0
date_of_death                   0
gender                          0
took_part_in_the_hostilities    0
place_of_residence              0
place_of_residence_district     0
type_of_injury                  0
ammunition                      0
killed_by                       0
notes                           0
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11124 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11124 non-null  object
 1   date_of_event                 11124 non-null  object
 2   age                           11124 non-null  float64
 3   citizenship                   11124 non-null  object
 4   event_location                11124 non-null  object
 5   event_location_district       11124 non-null  object
 6   event_location_region         11124 non-null  object
 7   date_of_death                 11124 non-null  object
 8   gender                        11124 non-null  object
 9   took_part_in_the_hostilities  11124 non-null  object
 10  place_of_residence            11124 non-null  object
 11  place_of_residence_district   11124 non-null  object
 12  type_of_injury                11124 non-null  object
 13  ammunition                    11124 non-null  object
 14  killed_by                     11124 non-null  object
 15  notes                         11124 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [ ]:

df['year_of_event'] = df['date_of_event'].str[:4]

print(df[['date_of_event', 'year_of_event']].head())

  date_of_event year_of_event
0    2023-09-24          2023
1    2023-09-24          2023
2    2023-09-22          2023
3    2023-09-20          2023
4    2023-09-19          2023

In [41]:
df.head()

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes,year_of_event,month_name,day_name
0,'Abd a-Rahman Suleiman Muhammad Abu Daghash,2023-09-24,32.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,Unknown,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while standing ...,2023,September,Sunday
1,Usayed Farhan Muhammad 'Ali Abu 'Ali,2023-09-24,21.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,Unknown,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while trying to...,2023,September,Sunday
2,'Abdallah 'Imad Sa'ed Abu Hassan,2023-09-22,16.0,Palestinian,Kfar Dan,Jenin,West Bank,2023-09-22,M,Unknown,al-Yamun,Jenin,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while firing at them ...,2023,September,Friday
3,Durgham Muhammad Yihya al-Akhras,2023-09-20,19.0,Palestinian,'Aqbat Jaber R.C.,Jericho,West Bank,2023-09-20,M,Unknown,'Aqbat Jaber R.C.,Jericho,gunfire,live ammunition,Israeli security forces,Shot in the head by Israeli forces while throw...,2023,September,Wednesday
4,Raafat 'Omar Ahmad Khamaisah,2023-09-19,15.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,Unknown,Jenin,Jenin,gunfire,live ammunition,Israeli security forces,Wounded by soldiers’ gunfire after running awa...,2023,September,Tuesday

In [ ]:

df['date_of_event'] = pd.to_datetime(df['date_of_event'], errors='coerce')


df['month_name'] = df['date_of_event'].dt.month_name()

print(df[['date_of_event', 'month_name']].head())

  date_of_event month_name
0    2023-09-24  September
1    2023-09-24  September
2    2023-09-22  September
3    2023-09-20  September
4    2023-09-19  September

In [ ]:

df['date_of_event'] = pd.to_datetime(df['date_of_event'], errors='coerce')

# استخراج اسم اليوم
df['day_name'] = df['date_of_event'].dt.day_name()

print(df[['date_of_event', 'day_name']].head())

  date_of_event   day_name
0    2023-09-24     Sunday
1    2023-09-24     Sunday
2    2023-09-22     Friday
3    2023-09-20  Wednesday
4    2023-09-19    Tuesday

In [42]:
df.to_csv("data/fatalities_isr_pse_conflict_2000_to_2023.csv",index=False)